.git
.gitignore
.env
.env.*
node_modules
npm-debug.log
*.md
.DS_Store
tests
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.editorconfig
.styleci.yml
phpunit.xml
